@page "/counter"

@using Blazor.Analytics.Abstractions
@using Blazor.Analytics
@inject ITrackingNavigationState TrackingNavigationState
@inject IAnalytics GlobalTracking

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Inject]
    private Blazor.Analytics.IAnalytics Analytics { get; set; }

    protected override void OnInitialized()
    {
        TrackingNavigationState.DisableTracking();
        GlobalTracking.Disable();
    }

    private void IncrementCount()
    {
        currentCount++;
        Analytics.TrackEvent("Increment", currentCount, "CountPage");

        //Example of how to track a generic event (see also https://developers.google.com/gtagjs/reference/ga4-events)
        Analytics.TrackEvent("generate_lead", new { currency = "USD", value = 99.99 });
    }
}
