@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [Inject]
    private Blazor.Analytics.IAnalytics Analytics { get; set; }

    protected override void OnInitialized()
    {
        var userId = $"userid{DateTime.Now.Ticks}";
        var globalConfigData = new Dictionary<string, object>();
        globalConfigData["user_id"] = userId;
        var globalEventData = new Dictionary<string, object>();
        globalEventData["user_id"] = userId;

        this.Analytics.ConfigureGlobalConfigData(globalConfigData);
        this.Analytics.ConfigureGlobalEventData(globalEventData);
    }
}