@using System.Threading
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/en-us/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    [Inject]
    private Blazor.Analytics.IAnalytics Analytics { get; set; }

    protected override void OnInitialized()
    {
        this.Analytics.ConfigureExtra($"userid{DateTime.Now.Ticks}");
    }
}